@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Viga&display=swap');
*{
    padding: 0 ;
    margin: 0;
}
body{
    background-color: black;
    overflow: hidden;
}
.Home{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    height: 100%;
    list-style: none;
    width: 100%;
    z-index: 1;
    text-transform: capitalize;
}
li ,a{
    text-align: center;

    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 15px 0;
}
.intro{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.intro-text{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    text-transform: capitalize;
}

.hide {
    background-color: black;
    overflow: hidden;
}
.hide span {
    transform:  translateY(100%);
    display: inline-block;
}
.slider{
    background-color: rgb(97, 105, 109);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        
    }
    .line:nth-child(1){
        color: aliceblue;
        font-size: 10px;
        width: 0;
        height: 10px;
    }
    .nav{
        position: relative;
    }
    
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%,-5%);
        z-index: 2;
    }
    .nav-links{
        position: fixed;
        background-color:rgb(119, 0, 255);
        height: 100vh;
        align-items: center;
        width: 100%;
        clip-path: circle(100px at 90% -25%);
        -webkit-clip-path:circle(100px at 90% -25%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path:circle(1000px at 90% -25%);
        pointer-events: all;
    }
}