@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Viga&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.Home{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.Home img{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index:-1;
}
.title{
    position: absolute;
    color: white;
    font-size: 8rem;
    text-transform: capitalize;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    z-index: 1;
}
.sub{
    position: absolute;
    color: white;
    font-size: 8rem;
    text-transform: capitalize;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    z-index: 1;
}

nav{
    position: absolute;
    width: 100%;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
ul li{
    list-style: none;
    padding: 5px 15px;
    text-transform: capitalize;
}
li a{
    text-decoration: none;
    color: rgb(34, 122, 199);
    font-size: 20px;
}




.intro{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}



.slider{
    background-color: rgb(97, 105, 109);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 10;
}


.Places{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}
.place-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.con img{
    width: 400px;
    height: 300px;
    border-radius: 2px;
}
.content{
    padding: 0 20px;
    width:100%;
}
.content h2{
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0;
}
.content p{
    color: white;
    text-transform: capitalize;
}
.content a{
    text-decoration: none;
    padding: 20px 0;
    color: blueviolet;

}


@media screen and (max-width: 768px) {
 .Places{
    height: 190%;
 }
 .place-body{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
 }
 .con{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 .sub{
    font-size: 2rem;
 }   

}